$background-color: rgb(247, 236, 222);
$text-background: rgb(254, 194, 96);
$button-color: rgb(187, 65, 32);
$linear-gradient-color: linear-gradient(to right, #3ca55c, #b5ac49);
$font-family-title: "Pacifico", cursive;
$font-family-righteous: "Righteous", sans-serif;
$font-family-body: "PT Sans Caption", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    background-color: #fec260;
    color: #352e28;
    transform: skewX(-15deg);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-family-body;
  background-color: $background-color;
}
body {
  background-color: $background-color;
  h1 {
    font-family: $font-family-title;
    font-size: 50px;
    display: inline-block;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 40%;
      background: $text-background;
      inset: 0;
      margin: auto;
      transition: 0.5s;
      top: 40%;
      z-index: -1;
      transform: skewX(-15deg);
    }
    &:hover::after {
      //   transform: skewX(0deg);
      height: 80%;
    }
  }
  .bookmarkH3 {
    h3 {
      font-family: $font-family-righteous;
      background-image: $linear-gradient-color !important;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .svg-inline--fa {
      height: 1.7rem;
    }
    .svg-inline--fa.first-I {
      color: #3ca55c;
    }
    .svg-inline--fa.second-I {
      height: 1.7rem;
      color: #b5ac49;
    }
  }
  label {
    font-weight: 600;
  }
  .border-bottom-dashed {
    border-bottom: 1px dashed #000 !important;
  }
  #submit {
    background-color: $button-color;
    border-color: $button-color;
  }
}
